<%= link_to gram_path(gram) do %>
  <%= image_tag gram.picture.url(:square), class: "img-fluid" %>
  <div class="gram-message">
    <h4><%= gram.message %></h4>
<% end %>
  <div class="gram-details">
    <small>
    <% unless local_assigns[:user_profile] %>
      <%= link_to gram.user.email, user_path(gram.user) %> |
    <% end %>
    <%= gram.created_at.strftime("%b %d, %Y") %></small>
  </div>
</div>
